.listContainer{
    display:flex;
}

.leftColumn{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: wheat;
    flex:70%;
    border: solid white 1px;
    padding: 5px;
    min-height: 100px;
    
}

.rightColumn{
    flex:30%;
    border: solid white 1px;
    padding: 5px;
    
}
.rightColumn{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: wheat;
}