.forecast{
    display:flex;
    justify-content: center;
}

.forecast__day{
    border:solid white 5px;
    padding: 2px;
    margin: 5px;
    min-width: 110px;
    width: 160px;
    text-align: center;
    background: lightskyblue;
    color: black;
    border-radius: 15px;

}