@import "./columns.css";
@import "./copyright.css";
@import "./forecast.css";
@import "./itineraries.css";
@import "./navbar.css";
@import "./preview.css";

html {
    font-style: sans-serif;

}

body {
    background: linear-gradient(#4dc9e6, #210cae);
    height: 100%;
    background-repeat:no-repeat
}

