@import "./columns.css";
@import "./copyright.css";
@import "./forecast.css";
@import "./itineraries.css";
@import "./navbar.css";
@import "./preview.css";
@import "./title.css";

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');




.title {
    font-family: Architects Daughter;
    flex-direction: column;
    width: 80%;
    /* -webkit-text-stroke: 2px rgb(33, 12, 174); */
    background-color: rgb(33, 12, 174, .75);
    border-radius: 20px;
    
}

.name{
    margin-bottom: 5px;
}
.tagline {
    margin-left: 40%;
    margin-top: 5px;
    color: wheat

}

body {
    background-color:rgb(77, 201, 230, .5);
    /* background: linear-gradient(rgb(77, 201, 230, .5),rgb(33, 12, 174, .9) ); */
    height: 100%;
    background-repeat:no-repeat
}



