/* Navigation Bar Container */

.navbar{
    border: solid white 5px;
    padding: 5px;
    min-width: 20%;
    max-width: 80%;
    border-radius: 10px;
    margin: auto;
    background-color: darkgreen;
    padding-bottom: 10px;
}

.navbar_select{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.navbar_title{
    font-size: larger;
    text-align: center;
    padding: 10px;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dropdown{
    flex-basis: 20%;
}

#parkSelect, #attractionSelect, #eaterySelect{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 220px;
    margin: 5px;
}