header{
    display: flex;
    flex: wrap;
}

.title{
    text-align: center;
    margin: auto;
    color:white;
    font-size: x-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto; */

/* 
align-items
justify-content
 */